/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4 {
    color: #444444;
}
h1 {
    font-family: 'Crete Round', serif;
    font-size: 35px;
}
h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}
p {
    line-height: 24px;
    color: #777777;
}

.orange {
    color: #ff7a00;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444444;
}

small {
    font-size: 13px;
    font-style: italic;
}

/* HEADER */
.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 120px;
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header nav ul {
    padding-top: 10px;
    text-align: center;
}

.header nav ul li {
    display: inline-block;
    padding-right: 10px;
    line-height: 1.6;
}

.header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.header nav ul li a:hover {
    color: #ff7a00;
}

/* MAIN IMAGE */
#main-image {
    height: 580px;
    background: url('images/main.jpg') center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

#main-image h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
}

.button-1 {
    width: 120px;
    height: 50px;
    display: block;
    background-color: #ff7a00;
    color: #ffffff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.button-1:hover {
    background: #02b8dd;
}

/* STEPS */
#steps ul {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#steps ul li {
    width: 300px;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}
#steps h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p {
    margin-bottom: 20px;
}

#step-1 {
    background: url('images/steps-icon-1.png') no-repeat top center;
}

#step-2 {
    background: url('images/steps-icon-2.png') no-repeat top center;
}

#step-3 {
    background: url('images/steps-icon-3.png') no-repeat top center;
}

/* POSSIBILITIES */
#possibilities {
    clear: both;
    background-color: #efefef;
    padding: 60px 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#possibilities article {
    width: 310px;
    height: 270px;
    border-radius: 10px;
}

#article-1 {
    background: url('images/article-image-1.jpg');
}

#article-2 {
    background: url('images/article-image-2.jpg');
}

.overlay {
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    max-width: 200px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

#possibilities h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p {
    text-align: center;
    margin-bottom: 20px;
}

.button-2 {
    color: white;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.button-2:hover {
    background-color: #02b8dd;
}

/* CONTACT */
#contact {
    padding: 60px 10px;
    text-align: center;
}

#contact h3 {
    text-transform: uppercase;
    margin: 0 auto 20px;
    max-width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}

#contact form {
    margin: 60px 0 20px 0;
}

#contact .form-block {
    padding-bottom: 15px;
}

#contact label {
    font-weight: bold;
    font-size: 20px;
    color: #777777;
}

#contact input[type="text"] {
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}

#contact input[type="text"]:focus {
    outline: none;
    border-color: #02b8dd;
}

#contact p {
    margin: 0 50px;
}

.button-3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
    padding: 11px;
    transition: background-color 0.3s ease-in-out;
}

.button-3:hover {
    background-color: #444444;
}

/* FOOTER */
footer {
    height: 260px;
    background-color: #444444;
}

footer h1 {
    color: white;
    text-align: center;
    padding-top: 80px;
}

.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777777;
}

.copyright a {
    color: #777777;
}

.copyright a:hover {
    text-decoration: underline;
}

@media (min-width: 375px) {
    #contact label {
        display: inline-block;
        width: 70px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-family: 'Crete Round', serif;
        font-size: 45px;
    }
    h2 {
        font-size: 55px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    .header nav ul li {
        padding-right: 20px;
    }

    .header {
        flex-direction: row;
        padding-bottom: 0;
    }

    #possibilities article {
        width: 460px;
    }
}


@media (min-width: 992px) {
    #steps ul {
        flex-direction: row;
    }

    #possibilities {
        flex-direction: row;
    }

    #contact .form-block {
        padding-bottom: 0;
        display: inline-block;
    }
}